/**
* VARIABLES
**/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #eee;
}

/**
* Title
**/
.title {
  text-align: center;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  font-size: 45px;
  color: coral;
  text-transform: uppercase;
}

/**
* CARD
**/
.card {
  border: none;
  margin: 12px 5px;
  position: relative;
  /* top: 50%;
  left: 50%; */
  height: 132px;
  width: 100px;
  /* background-color: #fff; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  /* overflow: hidden; */
  transition: box-shadow 0.5s;
}
.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/**
* DATE
**/
.card__date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  background-color: coral;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
}
.card__date__day {
  font-size: 14px;
}
.card__date__month {
  text-transform: uppercase;
  font-size: 10px;
}

/**
* THUMB
**/
.card__thumb {
  height: 245px;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: height 0.5s;
  background-size: contain;
background-repeat: no-repeat;
background-position: top;
}
.card__thumb img {
  width : 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}


.card:hover .card__thumb img {
  opacity: 0.6;
}

/**
* BODY
**/
.card__body {
  position: relative;
  transition: height 0.5s;
}

.card__category {
  z-index: 1;
  position: absolute;
  left: 0;
  height: 20px;
  padding: 0 8px;
  background-color: coral;
  opacity: 0.8;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
}

.card__title {
  text-align: left;
  height: 56px;
  margin: 0;
  padding: 5px 0 20px 7px;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: coral;
}

.card__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 56px;
  margin: 0;
  padding: 0;
  color: #666C74;
  line-height: 27px;
  opacity: 0;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transition-delay: 0s;
}
.card:hover .card__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition-delay: 0.2s;
}

.card__footer {
  padding: 0 5px;
  white-space: nowrap;

  overflow: hidden;
  position: absolute;
  bottom:0px;
  background: #fff;
  font-size: 11px;
  color: #A3A9A2;
}
.card:hover .marquee {
  /* overflow: visible; */
  width: auto;
  animation: marquee 6s linear infinite;
}
.marquee{
  text-overflow: ellipsis;
  position: relative;
}
.footer-container{
  position: absolute;
overflow: hidden;
height: 16px !important;
width: 100%;
bottom: -16px;
background: #fff;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 2px;
  font-size: 18px;
}
.icon + .icon {
  padding-left: 10px;
}
@keyframes marquee {
  0% { left: 0; }
  50% { left: -100%; }
  100% { left: 0; }

}
@media screen and (max-width: 768px){
  .card {

  }
}
